header {
    height: 100vh;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;

    position: relative;

    &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
        background-image: url("/bright-dreamy-background.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    &::after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-color: rgba(255, 255, 255, 0.45);
    }

    .container {
        --margin: 12px;
        width: 80vw;
        height: calc(100vh - var(--margin) * 2);
        margin: var(--margin);
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1 {
            font-size: 80px;
            line-height: 84px;
            font-weight: 700;
            margin: 0;
        }

        p {
            color: #808080;
            pointer-events: none;
            user-select: none;
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-image: url("/bg.svg");

    .container {
        --margin: 12px;
        width: 80vw;
        margin: calc(var(--margin) * 2) 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .grid {
        display: grid;
        width: 100%;

        &.grid-6 {
            grid-template-columns: 1fr 1fr;

            &.grid-6-gap {
                grid-gap: 24px;
            }
        }
    }

    .item-card {
        border-top: 5px solid var(--primary);
        border-radius: 4px;
        padding: 12px;
        width: 100%;
        height: 60vh;
        min-height: 600px;
        background-color: white;
        box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        h1 {
            font-weight: 500;
            position: relative;
            margin: 8px;

            &::before {
                position: absolute;
                content: "";
                bottom: 0;
                left: 20%;
                width: 60%;
                height: 2px;
                border-radius: 999px;
                background-color: var(--primary);
            }
        }

        .img {
            margin: 20px 0;
            width: 100%;
            border-radius: 8px;
            flex: 1 0 auto;
            background-position: center center;
            background-size: contain;
            background-repeat: no-repeat;

            &.img-smaller {
                width: 200px;
                height: 200px;
                border: 1px solid #808080;
                background-size: cover;
            }
        }
    }

    input[type="button"] {
        color: white;
        padding: 5px 0;
        background: var(--primary);
        font-weight: 600;
        font-size: 1rem;
        transition: background 0.1s ease-out;
        display: block;
        width: calc(100% - 80px);
        border-radius: 4px !important;
        border: 2px solid transparent;

        &:hover {
            background: color-mix(in srgb, var(--primary), #000 15%);
        }
        &:active {
            border-color: color-mix(in srgb, var(--primary), #000 40%);
        }

        &.button-smaller {
            margin: 32px 0;
            width: 50%;
        }
    }

    .flex {
        display: flex;
    }

    .flex-align-center {
        align-items: center;
    }

    .flex-grow {
        flex-grow: 1;
    }
}

@media screen and (max-width: 1280px) {
    .item-card {
        max-height: 85vh !important;
    }
}

@media screen and (max-width: 900px) {
    main .grid-6 {
        grid-template-columns: 1fr !important;

        & > div {
            width: 70%;
            justify-self: center;

            &:not(:last-child) {
                margin-bottom: 24px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    header > .container > h1 {
        font-size: 60px;
        line-height: 64px;
    }

    main .container {
        flex-direction: column-reverse;
    }

    main .grid-6 {
        & > div {
            width: 100%;
        }
    }
}

@media screen and (max-width: 400px) {
    header > .container > h1 {
        font-size: 45px;
        line-height: 49px;
    }
}
