@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;800&display=swap");

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    --primary: #1ab69d;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Golos Text", sans-serif;
}

.primary {
    color: var(--primary);
}

a:visited {
    color: inherit;
}
